@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@font-face {
  font-family: 'NerdFontsSymbols';
  src: url("./fonts/NFSymbols.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.nf {
  font-family: 'NerdFontsSymbols';
}
:root {
  --font : "Rubik";
}
@media (prefers-color-scheme: dark) {
  :root {
    --filter : none;
    --titlebar-bg : #12121255;
    --bg-opacity : 0.75;
    --bg-color : rgba(33, 33, 33, var(--bg-opacity));
    --sidebar-bg : #121212cc;
    --fg-color : #eeeeee;
    --hover-bg : #cccccccc;
    --task-bg : #00000099;
    --done-bg : #3890EBee;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --filter : none;
    --titlebar-bg : #ffffff55;
    --bg-opacity : 0.75;
    --bg-color : rgba(240, 240, 240, var(--bg-opacity));
    --sidebar-bg : #ffffffcc;
    --fg-color : #121212;
    --hover-bg : #808080cc;
    --task-bg : #ffffff99;
    --done-bg : #36A5EBee;
  }
}
body {
  font-family: var(--font), sans-serif;
  margin: auto;
  background-color: var(--bg-color);
  width: 100%;
  color: var(--fg-color);
  min-width: 400px;
  transition: background-color 200ms, color 200ms;
}
.version-num {
  position: absolute;
  bottom: 110px;
  left: 15px;
  cursor: pointer;
}
.titlebar {
  margin: 0px;
  width: 100%;
  text-align: left;
  height: 30px;
  padding: none;
  -webkit-app-region: drag;
  font-size: 14px;
  background-color: var(--titlebar-bg);
  transition: background-color 0.5s;
}
.title {
  padding: 0px 5px 0px 5px;
}
h1.name, #time, #date, .icon{
  margin: 15px;
}
div.header {
  margin: 15px;
  display: flex;
  justify-content:  space-between;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 50px 12px 8px;
  min-height: 30px;
  margin: 15px;
  background: var(--task-bg);
  font-size: 22px;
  transition: 0.2s;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 0px 2px 7px #00000055;
}
ul li.done {
  padding: 12px 8px 12px 18px;
  background-color: var(--done-bg);
}
ul li.done::before {
  content: 'ï˜« ';
  font-family: 'NerdFontsSymbols';
  width: 20px;
}
input {
  height: 32px;
  color: var(--fg-color);
  padding: 12px 40px 12px 40px;
  margin-right: 10px;
  background-color: var(--task-bg);
  font-size: 18px;
  box-shadow: 0px 2px 7px #00000055;
  width: 100%;
  border: none;
  text-align: center;
}
button.add {
  min-width: 56px;
  height: 56px;
  margin: 0px;
  background-color: var(--task-bg);
  border: none;
  font-size: 24px;
  color: var(--fg-color);
  box-shadow: 0px 2px 7px #00000055;
  transition: background-color 200ms, transform 200ms, box-shadow 200ms;
}
button.add:hover {
  background-color: var(--hover-bg);

}
button.menubutton {
  -webkit-app-region: none;
  background-color: #00000000;
  transition: background-color 250ms;
  font-size: 18px;
  border: none;
  height: 30px;
  padding: 0px 15px 0px 15px;
  color: var(--fg-color);
}
button.menubutton:hover {
  background-color: var(--hover-bg);
}
.close {
  font-family: 'NerdFontsSymbols';
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  line-height: 14px;
  font-size: 24px;
  margin: 10px;
  border-radius: 50%;
  transition: background-color 200ms;
}
.close:hover {
  background-color: #f44336;
  border-radius: 50%;
  color: white;
}
.sidebar {
  margin-top: 30px !important;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; 
  left: 0;
  background-color: var(--sidebar-bg);
  overflow-x: hidden;
  transition: width 0.5s, background-color 200ms, color 200ms;;
}
.sidebar h1, .sidebar h2, .sidebar h3, .sidebar label {
  padding: 15px;
  margin: 0;
}
.sidebar label {
  font-size: 24px;
}
.main {
  transition: filter 0.5s;
  filter: var(--filter);
}
.config-section {
  display: flex;
}
#opacity-input {
  width: 32px;
  padding: 10px;
  font-size: 14px;
}
.wincontrol-box {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: none;
  line-height: 30px;
  font-size: 20px;
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
}
.winclose {
  -webkit-app-region: none;
  text-align: center;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
  transition: background-color 250ms;
}
.winminimise {
  -webkit-app-region: none;
  text-align: center;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  right: 30px;
  transition: background-color 250ms;
}
.winclose:hover {
  background-color: #ff0000ee;
}
.winminimise:hover {
  background-color: var(--hover-bg);
}
#opendatapath {
  bottom: 30px;
  margin: 15px;
  height: 56px;
  width: 220px;
  background-color: #00000088;
  border: none;
  font-size: 20px;
  color: #ffffff;
  box-shadow: 0px 2px 7px #000000aa;
  position: absolute;
  transition: background-color 200ms;
}
#opendatapath:hover {
  background-color: #a0a0a088;
}
.container {
  display: block;
  position: relative;
  padding: 10px 10px 10px 50px !important;
  cursor: pointer;
  font-size: 20px !important;
  
  -webkit-user-select: none;
  user-select: none;
}

.container input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin: 10px 10px 10px 15px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
  transition: background-color 200ms;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
  transition: background-color 200ms;
}

